
<form [formGroup]="stepper"  (ngSubmit)="validateForm()" >

    <div formGroupName="stepOne"  *ngIf="index==0"  >
        <div class="form-group mb-3">
            <label for="">Nom et prénom </label>
            <input type="text" class="form-control" formControlName="name" >
        </div>
        <div class="form-group mb-3">
            <label for="">Email</label>
            <input type="text" class="form-control" formControlName="email" >
        </div>

        <button [disabled]=" stepper.controls.stepOne.valid == false "  class="btn btn-secondary" (click)="next()" >Next</button>
    </div>
    
    <div formGroupName="stepTwo" *ngIf="index==1" >
        <div class="form-group mb-3">
            <label for="">City </label>
            <input type="text" class="form-control" formControlName="city" >
        </div>
        <div class="form-group mb-3">
            <label for="">State</label>
            <input type="text" class="form-control" formControlName="state" >
        </div>

        <button    class="btn btn-secondary" (click)="previous()" >Previous</button>
        <button  [disabled]=" ! stepper.valid"   class="btn btn-secondary"  type="submit" >Ajouter</button>


    </div>
    

</form>