<app-navbar></app-navbar>


<h1>About page</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore asperiores est quia nobis? Impedit animi, odio repellendus nihil qui aperiam dolore laborum nulla est. Tempore numquam ducimus nam sapiente corrupti?
</p>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link  " routerLink="/about/historic" routerLinkActive="active" >Historic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about/employees" routerLinkActive="active" >Employees</a>
        </li> 
      </ul>
    
    
      <router-outlet></router-outlet>
</div>