<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Vehicules</h1>
    <a routerLink="/vehicules/add" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add new</a>
</div>



<div class="mt-5">
    <div class="card">
        <div class="card-body">
 



            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mark</th>
                        <th>Model</th>
                        <th>VIN</th>
                        <th>Matricul</th>
                        <th>Actions</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of vehicules">
                        <td>{{v.id}}</td>
                        <td>{{v.mark}}</td>
                        <td>{{v.model}}</td>
                        <td>{{v.vin}}</td>
                        <td>{{v.matricul}}</td>

                        <td>
                            <a class="btn btn-sm btn-warning" [routerLink]="  '/vehicules/interventions/'+v.id  "    >interventions</a>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>